<!DOCTYPE html>

<html>
    <head>
      <link  href="/css/main.css" media="all" rel="stylesheet">
      <link  href="/css/bio.css" media="all" rel="stylesheet">
      <title>BIO: Blake Jennings Johnson</title>
    </head>

<body>
    <p>I taught English and Spanish to adolescents for eight years.<br>
      This means that I can lead, manage, coach, reframe, scaffold, and laugh.<br><br>
      I love cooking, but I hate doing dishes.<br><br>
      I lived on a farm in upstate New York for five years. 
      I miss the apples, and the sunsets.<br><br>
      I am at Ada Developers Academy, training to be a<br><br> 
      <a id="hash" href="/blakehash.rb">=> scientist!</a><br><br>
    </p>
</body>


</html>


