<div class='word_blake'>
  <div id='letterB'>
  B
    <ul>
      <li>
        <a href="/bio">BIO</a>
      </li>
    </ul>
  </div>
  <div id='letterl'>
  l
    <ul>
      <li>
        <p>LOVELY LINKS</p>
        <a href="http://hyperboleandahalf.blogspot.com/">Hyperbole and a Half</a>
        <hr>
        <a href="http://elizabeth-sinatra.herokuapp.com/">Legit Horoscopes</a>
      </li>
    </ul>
  </div>
  <div id='lettera'>
  a
    <ul>
      <li>
        <a href="/poem">A POEM</a>
      </li>
    </ul>
  </div>
  <div id='letterk'>
  k
    <ul>
      <li>
        <a href="/RESUMEBlakeJenningsJohnson.pdf">RESUME</a>
      </li>
    </ul>
  </div>
  <div id='lettere'>
  e
    <ul>
      <li>
        <!-- <a href="/blogstuff"> -->BLOG<!-- </a> -->
      </li>
    </ul>
  </div>
  <div id='period'>
  .
  <ul>
    <li>
      <a href='Images/blakebike.JPG' alt="Blake on a bike">whoohoo<img src= 'Images/blakebike.JPG'> 
      </a>
    </li>
  </div>
</div>
