<!DOCTYPE html>

  <html>
    
    <head>
      <link  href="/css/main.css" media="all" rel="stylesheet">
      <title>Blake Jennings Johnson</title>
    </head>

    <body>
      <%= yield %>
      <div class='nav_bar'>
        <ul>
           <li>
            <a href="/">
              <img src='/Images/homeicon.png' alt= 'homepage'>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/BlakeJeJo">
              <img src='/Images/Twitterbird.png' alt= 'Blake on Twitter'>
            </a>
          </li>
          <li>
            <a href="https://github.com/BlakeJenningsJohnson">
              <img src='/Images/github.png' alt= 'Blake on GitHub'>
            </a>
          </li>
          <li>
            <a href="http://adadevelopersacademy.org/">
              <img src='/Images/ada_logo_circle.png' alt= 'Ada Developers Academy Website'>
            </a>
          </li>
        </ul>
      </div> 

    </body>
  <html>
