<div class='poem'>
  <h1>If You Go into the Woods You Will Find It Has a Technology</h1><br>
  <h2>by Heather Christle</h2>
  <p>This tree has a small LED display <br>
    It is glowing and it can show you words <br>
    and it can show you pictures and it can melt <br>
    from one choice to another and you are looking at it <br>
    and it wants you to share the message <br>
    but it can't see that you are the only one around <br>
    and that everyone else is hibernating <br>
    which you love You are so happy and alone <br>
    with the red and yellow lights It's a nice day <br>
    to be in nature and to read up on the very bland ideas <br>
    this tree has about how to live This tree says <br>
    grow stronger and this tree says fireworks effect <br>
    This tree is the saddest prophet in history <br>
    but you don't tell it that You are trying to show it respect <br>
    which gets tiresome but then it flashes <br>
    a snake at you It's a kind of LED tree hybrid joke <br>
    and you could just kiss it for trying For failing<br>
    But it can't see you and it starts to cry
  </p>
</div>
