date: 2013-12-15

<h1>In Rails, “scaffold" is an ironic term</h1>

<h2>A brief summary of Rails scaffolds:</h2>

<p>If you are building something in Rails, you will want to generate a variety of models, views, and controllers. If you type “rails generate scaffold Project," it will create ALL THE FILES AND A MOUNTAIN OF CODE for you.</p> 

<p>You’re thinking, “Rad!”</p>

<p>No. Not rad. Especially if you are a beginner. And here’s why:</p>

<h3>In education:</h3>

<p><strong>Scaffolding</strong> is an instructional technique whereby the teacher models the desired learning strategy or task, then gradually shifts responsibility to the students.</p>

<h3>In construction</h3>

<p><strong>Scaffolding</strong> is a temporary structure used to support people and material in the construction or repair of buildings and other large structures.</p>

<h3>In Rails</h3>

<p>
Scaffolding makes all the things for you until you are trapped in a labyrinth of files and code that may or <em>may not</em> be useful to you, but you will wander amongst them anyway, hoping to eventually emerge parched but knowing which were essential and which were superfluous.  Scaffolding does too much— it is not a crutch that will make you stronger, but a super-powered magic wheelchair that will make you forget that walking existed.
</p>


<p>So if you are a beginner, and you don’t <em>quite</em> know Model v. Controller v. View, or what a partial form is, then I would like to formally</p>

<p><strong>recommend that you do not use scaffolding</strong>.</p>

<p>I think there is power in starting from the basics. You would not buy a very complicated lego set that was partially assembled to teach your kid to play with Legos, would you? I mean, maybe if you’re that parent that wants to commandeer playtime. But more likely, you would buy giant legos that the kid can stick together to build a house that looks like a box without a roof, and that would be a great start to understanding Lego mechanics.</p>

<p>I did my first Rails project with scaffolds, and when I was asked to do another without them, I felt like I was back at square one. All the things were gone, and I had to be conscious about what I generated. Turns out, sometimes you will need a model, but not a controller. Sometimes you will need both, but not a view. This is a true story. </p>

<p>I want the person that builds my house to have started with the basics. I would like to be able to build a Rails application from scratch. </p>

<p>Create things as you need them. That’s kind of a life rule, I think.</p> 



