date: 2013-11-11

<h1>I never thought I’d be okay with objectification</h1>

<p>
  I realized this week that coding is not strictly about learning the language and applying it. At least for me, another kind of change in perspective is required, and I struggled this week even to articulate the problem.
</p>

<p>
  We began working with classes and objects this week. On one level, this was simple enough. I could go through the motions and create an object, but I was never quite doing the assignment right. For example, we were asked to practice building classes by creating an animal. An hour later, I had an interactive unicorn game where the unicorn healed, mauled, and frolicked based on user specifications for its temperament. . . This game made sense to me. There was a person on one side of the computer playing with the unicorn, and I was the person on the other side of the computer being all “man behind the curtain.”
</p>

<p>
  But the assignment was not to build an interactive game; it was was simply to build a class. And I couldn’t wrap my head around it— why would I make a unicorn that no one could play with? (I mean, really?) I tried to explain to both instructors that I kept wanting to have the program do something, interact with the user. Bookis explained that I was the user. But, but— I thought I was the creator? I CAN’T BE ALL THE THINGS. So when prompted to make an OrangeTree class, I make an interactive OrangeTree that you could make grow, or from which you could harvest. Not the assignment, Blake. Just. Build. A. Tree.
</p>

<p> 
  . . . So then I woke up. And I thought about how the class is sort of analogous to a cooking tool, like a mixer. I cook a lot, and bake some, and I use the mixer _maybe_ one in ten times. But I still need to have it, and in computer land, I would have needed to build it in order to use it, sometime, somehow in another program that I probably a wee bit more complicated than I can conceptualize yet. When I/If I build my unicorn again (and I simply can’t right now because I’ve fallen in love with the crotchety old guy), then I might understand that I can create my unicorn and not feature him in every chapter of my book, or program, as it were.
</p>

<p>
  Sometimes you build things just to use them to build other things. And sometimes I dream about computer stuff. And sometimes I dream about cooking, and it helps me understand computer stuff.
</p>

<p>Oh, brain.</p>