date: 2013-11-25

<h1>Girl stops using brain when afraid brain won’t work</h1>

<p>
  This week, I had just figured out how to take a quiz again (hint: it’s at least partially about reading the directions closely) when Kerri introduced small coding exercises as an alternate form of formative assessment.  This is actually an amazing and important morning task— it allows us to work individually, in contrast to pair programming, and therefore see what we’re capable of on our own. Maybe it’s my teacher brain acting up, but in addition to activating my coding skills, the exercises made me aware about the way that I learn, the conditions under which I thrive, and how I need to step it up. 
</p>

<p>It went like this:</p>

<p>
  We were presented with (really) a relatively accessible coding challenge about writing a single method. The first thing I realized is that my 9AM brain coupled with the sinus pressure from my cold made my brain struggle to even process the prompt. But it’s what came after that was interesting to me— rapid typing ensued all around me, and the first thing that I thought was not “Everyone is trying a few things out,” nor “Better get chugging,” but the very terrible, seven year-old idea that “Everyone knows the answer . . . but me.” And THEN, my brain really shut down. The problem was a big congealed mess to me. 
</p>

<p>
  Turns out that plenty of us were flummoxed, and plenty of us suffered the same dose of insecurity. But I was struck by the way that I could feel the <em>immediate</em> connection between my loss of confidence and my diminished capacity to perform. This phenomenon was clear enough to me when I played basketball, and, when tossed the ball, <strong>literally</strong> threw it against the wall (this birthday video of me playing a game should have won a AFHV) . . . but I had attributed that to utter lack of skill. Nope, nope. Same thing! Now I realize I coulda been a b-ball star! Or at least not “Most Improved Player” three years running.
</p>

<p>
  Back to the method: Eventually, a friend in class got me started, and it turned out I could write the method just fine (though not easily), but I was just grouchville for the next forty-five minutes or so because of my frustration. In contrast, later that day we took a quiz that I aced, and I felt ready to take on whatever came my way.  
</p>

<p>
  Let me underscore that I’ve had no epiphany here that assignments should be designed to make us feel a certain way. Both assignments felt appropriately challenging/straightforward. My realization was that there is no way that I can keep going into that classroom, or a coding environment, with that kind of shut-down mechanism rearing its ugly head. I recovered quickly enough from the discouragement, but can you imagine if I were hunting for my dinner and then everyone else caught theirs so I just sat down on grass? (And in this actual scenario, not everyone caught dinner anyhow.) 
</p>

<p>
  Belief is a powerful tool, and I think that we don’t need to believe we are brilliant; we need to believe we are capable, especially under new challenges. Some would call this fake-it-til-you-make it, but I’ve never liked that phrase. It’s a little more about owning one’s weaknesses (many of which are simply passing things), valuing the opportunity to overcome them, and keeping an open mind. If you put in me in a field, I probably wouldn’t catch an antelope . . . the first time. But that would never logically indicate that I was incapable of catching an antelope, or that I was the worst antelope hunter in the world, right???
</p>

<p>Can you believe it? I really think I could spear an antelope with some practice.</p> 