date: 2013-11-04

<h1>And here I am, a . . . developer?</h1>

<a name="Beginning"<h2>The Beginning</h2>

<p>I don’t know how I got here. I mean, I do, I do— but I don’t.</p> 
          
<p>
  About me: I love words! Spanish and English. And puns, and thick, thick novels that make you weepy at the end, not necessarily because the protagonist dies, but because you have to say goodbye to the whole lot of characters. I love cooking— starting with the basics and then embellishing, finessing, tweaking— and serving. I love making things for people. I once considered being a professional gift-buyer as a side gig, because I like getting to know what people need, and then providing it. And also, strangely, I love teaching, the very career I just left, because there is something downright magical about working with humans-in-progress. They are like nothing else. 
</p>

<p>
  Programming could be a lot like these favorite things, I thought— under the right circumstances. It can be about language, and creation, imagination and service. But it was never on my radar. A lot of attention has been placed on how women dismiss their potential in computer science, but for me, that was totally wrong. I didn’t look at it long enough to dismiss it; it simply never came into my field of vision, even though the majority of my male friends in college were compsci majors. I had always performed better in math and science classes than in English, and yet I felt destined for a liberal arts degree— something “expressive."
</p>

<p>
  Go figure. The first time I even glanced at coding was in a graduate level syntax class . . .  that I took while getting my Master’s of Science in Education. What great timing. But of the fifteen or so classes I took in grad school, I kept only the notes from Syntax. And I confess to you that I <em>loved</em> it. It was like all the riddle books I’d enjoyed growing up combined with all my language courses. When a good friend cavalierly laughed that syntax was akin to coding . . . Well, I simply figured the window had closed.
</p>
     
<p>
  UNTIL ADA (enter program, wind blowing back her cape).
</p>

<p>
  Ada was the best thing I could have imagined. Really. The first reason was obvious— they reopened the window. Here was an opportunity to do it over again. RAD. But more, Ada’s mission spoke to me. There is no place like the front of the classroom to see the ways in which girls continue to be marginalized, and to pigeonhole themselves. By the time I got them as seniors, it was a serious struggle to convince them of the many things they were capable. Ada’s mission to change that is inspiring-- to me, and to all the other girls on their way here.
</p>

<p>
  The decision to leave teaching was among the hardest I have faced, I think. Not only because the kids are among the most interesting, anecdote-producing, smart alecky and yet forgivable creatures in the world, but because I have been doing it <emp>forever</emp>. Eight years ago I taught Spanish to sixth, seventh and eighth graders, tweaking the private school’s relatively unfinished program, drawing diagrams willy-nilly, and over-assigning winding essays to eleven year-olds. I barely slept that year. Soon after I taught writing to seventh graders— taught them how to think big and yet attend to detail, to how to comb through pages for careless typos, to tie up loose ends— and to imagine possibilities. And then it was high school English— avoiding comma splices, embracing fragments, writing it cleanly and then cleaning it up again, inventing . . . 
</p>

<p>
  One week into Ada, I feel like I’ve found so many paralells to coding: this is language, this is invention, this is problem-solving, this is revision and editing and planning. So I don’t feel like I’m in a whole different universe. I’m the same neighborhood, but this house suits me better. And curriculum aside, I feel like I’ve already found a family in the other fifteen like-minded, brilliant, independent women that I work with every day. 
</p>