date: 2014-5-01

<h1>Keep it Manageable and Meaningful</h1>
<h3>The value of comments/journals</h3>

<p>These last two weeks I was assigned an independent project-- we had several robust Rails project options, but I had several obstacles confront me:</p>

<ol>
  <li>I was traveling to my mother's, who doesn't even have internet, because she lives in 1990.</li>
  <li>I was then traveling to New York, where I was staying in a twin bed in a house of four children, in the country, with no good workspace in sight and the opportunity to spend quality time with loved ones very close.</li>
  <li>Per my tradition since I was a child, I fell ill with a nearly two-week flu, making it difficult to stand up, much less code.</li>
</ol>

<p>This was a reminder lesson for me about work/learning: keep it manageable and meaningful. 
</p>

<h3>On keeping it manageable:</h3>
<p>I was frustrated and exhausted, so I couldn't tackle one of the more robust projects without feeling overwhelmed, and, perhaps worse, resentful of the work. Moreover, I am not sure I was physically capable, since the fever wasn't conducive to thinking much. Part of me wanted to build the biggest bestest thing ever, but I had to be realistic about that not being possible.</p> 

<h3>On keeping it meaningful:</h3>
<p>Aside from going through all of secondary education, I taught for eight years, so I understand that not all learning can be fun. Actually, that's a lie. I really, really think that you have to have to make work fun. I can enjoy building most things with a friend, but if I'm working alone, I have to be excited about the project so that when I hit a wall, I am personally invested in busting through. </p>

<p>So I didn't get to build an incredible book search engine. I didn't get to reinvent my blog with all sorts of javascript. And I didn't build the other brilliant app ideas I have stewing that I can't tell you about yet.</p>

<p>Instead, I built a single-page app that allows you to list and find missing socks. And I find it delightful. You can find it here:

http://thissocks.herokuapp.com.</p>



