date: 2013-12-09

<h1>Is there a language for women in tech?</h1>

<p>As I've written before in <strong><a href=#Beginning>The Beginning</a></strong>, part of what drew me to web development is my love of languages-- I studied English and Spanish in college, and would study all the rest of them if the human lifespan didn't limit me so, so I was delighted to study the languages Computer. Until this week, I hadn't stopped to think about the other languages of tech-- the ones that a woman might need to learn to speak in order to move forward in the industry.</p>

<p>The other night, I met a man who is a director at a software company in town. Here are my favorite snippets of our conversation:</p>

<ul>
  <li>
    HIM: "Hey, it's not that I wouldn't hire women, it's just that there aren't any to hire."
  </li>
  <li>ME IN MY BRAIN: <em>Yeah.</em></li>
  <li>
    HIM: "But it would be pretty weird for just one woman to work in our office. I mean, I would feel bad."
  </li>
  <li>
    ME IN MY BRAIN: <em>This is sort of thoughtful, and sort of weird caretaker stuff, but that's probably no big deal . . .</em>
  </li>
  <li>
    HIM: "I mean, we get pretty raunchy in the office. We'd have to really clean up our act, and I don't know if we could."
  </li>
  <li>ME IN MY BRAIN: <em>?!?!!??</em></li>
  <li>
    ME OUT LOUD (ME): "I think maybe you're making some assumptions. Like, about what makes women uncomfortable. About whether they could hang in a less formal environment. Also, maybe you guys should just rethink that work environment generally."
  </li>
  <li>HIM: "Yeah, I guess the <strong>right</strong> kind of woman could work with us."</li>
  <li>ME: "Wow, it's been so sunny in Seattle."</li>
</ul>

<p>
  I don't want to take this whole blog entry to break down all the insidious (and perhaps just innocent(?), ignorant) sexism this man was verbalizing. I also don't want to theorize that this man represents what I might be walking into as a woman in tech. What was more interesting to me was that I didn't know how to reply. I heard myself maybe-ing a lot. Nodding while furrowing my brow. Clearing my throat, changing the subject.
</p>

<p>
  This is my own language for discussing sexism in a context where I don't feel safe. And I might as well be speaking Latin, for as much good as it's doing me.
</p>

<p>
  Realistically speaking, we all have our various . . . dialects. Workplace dialects, friend-dialects. We are code-switching constantly-- and I am thinking that there is yet another kind of code to learn. Not the one that lets me "hang," but one that helps me say, "Hey, wait a minute."
</p>




