date: 2013-12-01

<h1>i don't git it</h1>

<p>
  github, i would end you if you weren't an incredibly essential component of my day-to-day coding life. i just need you to know that.
</p>

<p>
  this weekend, it took me several hours to push my website to heroku because computers aren't as smart as i thought. they are actually stubborn little buttheads that refuse to accomodate me when i do the right thing, like capitalize the names of my folders. although capitalization is something that i learned in first grade and then practiced (and taught) every day for the last my-whole-life, it is apparently useless in my new computer world. thanks a lot, mrs. frampton.
</p>

<p>
  that's right. contrary to my -and everyone else's- good, honest, english training, it's not cool to capitalize things when you code. it's like computers are accustomed to just texting their buddies all the time without observing common grammar usage. i bet they say 'u' instead of 'you', too. punks. 
</p>

<p>
  basically, heroku couldn't read any of my images because i had put them in a Public folder when they should have been in a public folder, and <strong>then</strong> in order to fix the issue, i could not just change/mv the name of the folder. oh, no. i had to make a copy of the folder, destroy the first folder, commit changes, copy that folder, and then rename it public and destroy the first one. yep. computers are brilliant.
</p>

<p>
  as you can see, i have learned my lesson about capitalization. in my next entry, maybe i'll remember to escape the apostrophes. please don't look, all my teachers ever (except for that one math teacher).
</p>
